<!DOCTYPE html>
<html lang="en" ng-app="buildMonitorApp">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="angular/angular.js"></script>
      <script src="angular-route/angular-route.js"></script>
      <script src="javascripts/app.js"></script>
      <script src="javascripts/controllers.js"></script>
  </head>
  <body ng-controller="SiteListCtrl">
    <% include ./header%>

  <div ng-view></div>

  </body>
</html>

<script>

</script>
